.header {
    background-image: url(img/church-background-tablet.jpg);
}

.title {
    font-size: 5rem;
}

.menu {
    width: 50%;
}

.first {
    border-bottom: none;
    border-right: 2px solid blanchedalmond;
}

.link {
    width: 48%;
}